.header{
  border: 2px solid black;
  text-align: center;
  height: 40px;
}
.run{
  height: 100%;
  width: 100px;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 500;

}
.main{
  height: 100vh;
  width: 100vw;
  border: 2px solid rgb(28, 28, 29);
  margin-top: 2px;
  display: flex;
}
.left,.right{

    flex: 1;
    /* border: 2px solid rgb(70, 70, 82); */
    gap: 1px;
    height: 100%;
}
.code-area{
  height: 100%;
  width: 100%;
  resize: none;
}
.input{
  width: 100%;
  height: 200px;
  /* border: 2px solid red; */
  overflow: hidden;
  background-color: skyblue;
}
